NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_STRIPE_ENABLED=true
NEXT_PUBLIC_NEXI_ENABLED=true
STRIPE_CHECKOUT_BASE_URL=
NEXI_HPP_ORDERS_ENDPOINT=https://xpaysandbox.nexigroup.com/api/phoenix-0.0/psp/api/v1/orders/hpp
NEXI_HPP_API_KEY=
NEXI_HPP_SITE_URL=
NEXI_HPP_RESULT_URL=
NEXI_HPP_CANCEL_URL=
NEXI_HPP_NOTIFICATION_URL=
NEXI_BUILD_V3_ORDERS_ENDPOINT=https://xpaysandbox.nexigroup.com/api/phoenix-0.0/psp/api/v1/orders/build
NEXI_BUILD_V3_API_KEY=
NEXI_BUILD_V3_SITE_URL=
NEXI_BUILD_V3_MERCHANT_URL=
NEXI_BUILD_V3_RESULT_URL=
NEXI_BUILD_V3_CANCEL_URL=
NEXI_BUILD_V3_NOTIFICATION_URL=
NEXI_BUILD_V3_LANGUAGE=ita
NEXI_BUILD_V3_CHECKOUT_BASE_URL=
