.mapWrap {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden; /* REQUIRED */
    border-top-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.map {
    position: absolute;
    width: 100%;
    height: 100%;
}